html {
    width: 100%;
    height: 100%;
}

body {
    max-width: 720px;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0 auto 0 auto;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    margin: auto;
}

@keyframes spin {
    from {

        transform: rotate(0deg);
    }

    to {

        transform: rotate(360deg);
    }
}

#spinner {
    padding: 10px;
    max-height: 1.75em;
    justify-content: center;
    margin-left: 5px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
    align-self: center;
}

#info {
    margin-top: 1em;
    padding: 10px;
    align-self: center;
    flex-basis: 100%;
}

#temphum #co2tvoc #pm {
    flex-shrink: 3;
}

#controlcontainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

#buttoncontainer {
    display: inline-flex;
    padding: 10px 0 10px 10px;
}

#buttoncontainer>button {
    padding: 5px 10px 5px 10px;
    border: 0 2px 0 0;
    border-radius: 0;
}

#buttoncontainer>button:first-child {
    padding-left: 15px;
    border: 0 2px 0 0;
    border-radius: 5px 0 0 5px;
}

#buttoncontainer>button:last-of-type {
    padding-right: 15px;
    border: 0 0 0 2px;
    border-radius: 0 5px 5px 0;
}