html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 1920px;
    margin: auto;
}

#info {
    margin-top: 1em;
    padding: 10px;
    align-self: center;
    flex-basis: 100%;
}

#temphum #co2tvoc #pm {
    flex-shrink: 3;
}

.buttoncontainer {
    display: inline-flex;
    justify-content: center;
    padding: 10px;
}

.buttoncontainer>button {
    padding: 5px 10px 5px 10px;
    border: 0 2px 0 0;
    border-radius: 0;
}

.buttoncontainer>button:first-child {
    padding-left: 15px;
    border: 0 2px 0 0;
    border-radius: 5px 0 0 5px;
}

.buttoncontainer>button:last-child {
    padding-right: 15px;
    border: 0 0 0 2px;
    border-radius: 0 5px 5px 0;
}