html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
}

#container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    max-width: 1920px;
    margin: auto;
}

#info {
    margin-top: 1em;
    padding: 10px;
    align-self: center;
    flex-basis: 100%;
}

#temphum #co2tvoc #pm {
    flex-shrink: 3;
}