<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Air quality</title>

    <link rel="stylesheet" href="/static/style.css">
    <script src="/static/plotly.min.js"></script>
    <script src="/static/moment.min.js"></script>
    <script src="/static/chart.min.js"></script>
    <script src="/static/chartjs-adapter-moment.min.js"></script>
</head>

<body>
    <div id="container">
        <div style="position: relative; height: 30%;">
            <canvas id="temphum"></canvas>
        </div>
        <div style="position: relative; height: 30%;">
            <canvas id="co2tvoc"></canvas>
        </div>
        <div style="position: relative; height: 30%;">
            <canvas id="pm"></canvas>
        </div>
        <div id="info">
            Valvira air quality info in Finnish: <a
                href="https://www.valvira.fi/ymparistoterveys/terveydensuojelu/asumisterveys/fysikaaliset_olosuhteet">temperature
                and humidity</a>,
            <a href="https://www.valvira.fi/ymparistoterveys/terveydensuojelu/asumisterveys/kemikaalit">CO<sub>2</sub>
                and
                TVOC</a> and
            <a href="https://www.valvira.fi/ymparistoterveys/terveydensuojelu/asumisterveys/hiukkaset_ja_kuidut">airborne
                particles</a>.
            </ul>
        </div>
    </div>
    <script>
        const createGraphs = (data) => {
            const temperatureHumidityData = {
                labels: data['temperature']['x'],
                datasets: [{
                    label: 'Temperature °C',
                    borderColor: '#F38BA0',
                    backgroundColor: '#F38BA0',
                    data: data['temperature']['y'],
                    yAxisID: 'y',
                }, {
                    label: 'Relative humidity %',
                    backgroundColor: '#64C9CF',
                    borderColor: '#64C9CF',
                    data: data['humidity']['y'],
                    yAxisID: 'y1',
                }]
            };

            const temperatureHumidityChartConfig = {
                type: 'line',
                data: temperatureHumidityData,
                options: {
                    pointRadius: 0,
                    borderWidth: 2,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    minute: 'HH:mm',
                                    hour: 'HH'
                                },
                            },
                            ticks: {
                                maxRotation: 0,
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                        },
                    }
                }
            };

            const temperatureHumidityChart = new Chart(
                document.getElementById('temphum'),
                temperatureHumidityChartConfig
            );


            const co2TvocData = {
                labels: data['co2']['x'],
                datasets: [{
                    label: 'Estimated CO₂',
                    borderColor: '#FFCC29',
                    backgroundColor: '#FFCC29',
                    data: data['co2']['y'],
                    yAxisID: 'y',
                }, {
                    label: 'Total volatile organic compounds',
                    borderColor: '#54e346',
                    backgroundColor: '#54e346',
                    data: data['tvoc']['y'],
                    yAxisID: 'y1',
                }]
            };

            const co2TvocChartConfig = {
                type: 'line',
                data: co2TvocData,
                options: {
                    pointRadius: 0,
                    borderWidth: 2,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    minute: 'HH:mm',
                                    hour: 'HH'
                                },
                            },
                            ticks: {
                                maxRotation: 0,
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                        },
                    },
                }
            };

            const co2TvocChart = new Chart(
                document.getElementById('co2tvoc'),
                co2TvocChartConfig
            );

            const pmData = {
                labels: data['pm25']['x'],
                datasets: [{
                    label: 'Sub 2.5μm particles μg/m³',
                    borderColor: '#9CA4AB',
                    backgroundColor: '#9CA4AB',
                    data: data['pm25']['y'],
                    yAxisID: 'y',
                }, {
                    label: 'Sub 10μm particles μg/m³>',
                    borderColor: '#26292C',
                    backgroundColor: '#26292C',
                    data: data['pm10']['y'],
                    yAxisID: 'y1',
                }]
            };

            const pmChartConfig = {
                type: 'line',
                data: pmData,
                options: {
                    pointRadius: 0,
                    borderWidth: 2,
                    scales: {
                        x: {
                            type: 'time',
                            time: {
                                displayFormats: {
                                    minute: 'HH:mm',
                                    hour: 'HH'
                                },
                            },
                            ticks: {
                                maxRotation: 0,
                            }
                        },
                        y: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                        },
                        y1: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            grid: {
                                drawOnChartArea: false, // only want the grid lines for one axis to show up
                            },
                        },
                    }
                }
            };

            const pmChart = new Chart(
                document.getElementById('pm'),
                pmChartConfig
            );
        }

        fetch('/api')
            .then(response => response.json())
            .then(data => {
                createGraphs(data);
            });
    </script>
</body>

</html>